# Ignore everything...
*

# except for git files
!.gitignore
!.github/
!.github/**

# except the scripts folder
!scripts
!scripts/*

# except the readme file
!README.md

# except custom resources
# !resources
# !resources/contenttweaker
# !resources/contenttweaker/**/**
# !resources/waystones
# !resources/waystones/**
# !resources/patchouli
# !resources/patchouli/**
# !resources/minecraft
# !resources/minecraft/**

# except changed config files (add manually)
!config
!config/vampirism-common.toml
!config/vampiresneedumbrellas-common.toml
!config/enhancedcelestials/minecraft/overworld/lunar/lunar-settings.json
!config/enhancedcelestials/minecraft/overworld/lunar/events/*
!config/sereneseasons/seasons.toml
!config/advancementplaques-common.toml
!config/astralsorcery-client.toml
!config/astralsorcery-common.toml
!config/bcc-common.toml
!config/bettercaves-1_16.toml
!config/betterdungeons-forge-1_16.toml
!config/betterstrongholds-forge-1_16.toml
!config/extendedcrafting-common.toml
!config/naturescompass-common.toml
!config/quark-common.toml

# Patchouli books folder
# !patchouli_books
# !patchouli_books/**

# map template
!template
!template/**

# server pack
# !server/
# !server/server-setup-config.yaml
# !server/startserver.bat
# !server/startserver.sh

# simple rpc
!simple-rpc/
!simple-rpc/*