# Ignore everything...
*

# except for git files
!.gitignore
!.github/
!.github/**

# except the scripts folder
!scripts
!scripts/**

# except the readme file
!README.md

# except changed config files
!config
!config/.gitignore

!defaultconfigs
!defaultconfigs/**

# open loader resorces
!openloader
!openloader/**

# server pack
# !server/
# !server/server-setup-config.yaml
# !server/startserver.bat
# !server/startserver.sh

# simple rpc
!simple-rpc/
!simple-rpc/*

# cursefore image
!profileImage
!profileImage/*
