# Ignore everything...
*

# except for git files
!.gitignore
!.github/
!.github/**

# except the scripts folder
!scripts
!scripts/**

# except the readme file
!README.md

# except changed config files (add manually)
!config
!config/.gitignore

!defaultconfigs
!defaultconfigs/**

# Patchouli books folder
# !patchouli_books
# !patchouli_books/**

# server pack
# !server/
# !server/server-setup-config.yaml
# !server/startserver.bat
# !server/startserver.sh

# simple rpc
!simple-rpc/
!simple-rpc/*

# cursefore Image
!profileImage
!profileImage/*
