!ftbquests
!ftbquests/quests
!ftbquests/quests/**
!vampirism-common.toml
!vampiresneedumbrellas-common.toml
!enhancedcelestials/minecraft/overworld/lunar/lunar-settings.json
!enhancedcelestials/minecraft/overworld/lunar/events/*
!sereneseasons/seasons.toml
!advancementplaques-common.toml
!astralsorcery-client.toml
!astralsorcery-common.toml
!bcc-common.toml
!bettercaves-1_16.toml
!betterdungeons-forge-1_16.toml
!betterstrongholds-forge-1_16.toml
!extendedcrafting-common.toml
!naturescompass-common.toml
!quark-common.toml
!silentgear-common.toml
!forge-common.toml
!itlt-client.toml
!terraforged
!terraforged/*
!DistantHorizons.toml
!itlt
!itlt/*
!jei-client.toml
!eyesinthedarkness-client.toml
